<div id="form">
    <% form_tag :controller => "people", :action => "search", :method => :get do %>
        <div class="field">
            <%= text_field_tag :current_last_name, params[:current_last_name] %>
        </div>
        <div class="field">
            <%= text_field_tag :current_first_name, params[:current_first_name] %>
        </div>
        <div class="actions">
            <%= submit_tag "Search", :name => nil %>
        </div>
    <% end %>
</div>