<p>
  <b>Description:</b>
  <%=h @occupationclassification.description %>
</p>


<%= link_to 'Edit', edit_occupationclassification_path(@occupationclassification) %> |
<%= link_to 'Back', occupationclassifications_path %>