<p>
  <b>Description:</b>
  <%=h @incomeclassification.description %>
</p>


<%= link_to 'Edit', edit_incomeclassification_path(@incomeclassification) %> |
<%= link_to 'Back', incomeclassifications_path %>